<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="A simple game of genius">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Rock Paper Scissors</h1>
	<nav>
		<h3>Pick your mode:</h3>
		<ul>
			<li><a href="#" data-type="1">Human vs. Computer</a></li>
			<li><a href="#" data-type="2">Computer vs. Computer</a></li>
			<li><a href="#" data-type="3">Human vs. Human</a></li>
		</ul>
	</nav>
	<main>
		<aside>
			<h2>Keys</h2>
			<dl>
				<dt>r</dt>
				<dd>Rock</dd>
				<dt>p</dt>
				<dd>Paper</dd>
				<dt>s</dt>
				<dd>Scissors</dd>
				<dt>l</dt>
				<dd>Lizard</dd>
				<dt>v</dt>
				<dd>Spock</dd>
			</dl>
		</aside>
		<h2>Game<span> in progress</span><span> ended</span></h2>
		<div class="player one">
			<div class="type">Player 1: (type)</div>
			<div class="move">Move: (move)</div>
		</div>
		<div class="player two">
			<div class="type">Player 2: (type)</div>
			<div class="move">Move: (move)</div>
		</div>
		<div class="result">Result: (result)</div>
		<button name="start" type="submit">Start</button>
	</main>
</body>
</html>
